/*INDEX*/
.conth1 {
    font-family: "PT Sans", sans-serif;
    padding-top: 5%;
    text-align: center;
    color: rgb(2, 128, 0);
    height: 100px;
    line-height: 100px;
    font-size: 50%;
    animation-duration: 3s;
    animation-name: cent;
  }
  
  @keyframes cent {
    0% {
      opacity: 0.15;
    }
  }

  .aqui {
    font-family: "PT Sans", sans-serif;
    margin-top: 8%;
    text-align: center;
    color: rgb(8, 0, 255);
    font-size: 17px;
  }